body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 95%;
    background-image: url(https://www.publicdomainpictures.net/pictures/290000/nahled/repeated-background-patterns-1552911386lk7.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
  }