body {
  width: 100%;
  margin: 0;
  background-image: url(https://www.publicdomainpictures.net/pictures/290000/nahled/repeated-background-patterns-15529114208Ph.jpg);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;

}

.border {
  width: 70%;
  margin: 0 auto;
  position: relative;
  padding: 20px 30px;
  background-color: #9ab879;
  border: 5px solid #f9e323;
}

header {
  width: 100%;
  margin: 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 35px;
  text-align: center;
}

.nav-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding-right: 30px;
}

.nav-link:hover {
  cursor: pointer;
  color: #f9e323;
  transition: 650ms;
}

img {
  width: 100%;
  height: 100%;
}

.book-img-1 {
  width: 600px;

}

.book-img-2 {
  width: 500px;
  height: 453px;

}

/*About myself section @ index.html */

#about {
  width: 70%;
  height: 120vh;
  margin: 0 auto;
  position: relative;

}

#header-text {
  font-family: 'Parisienne', cursive;
  font-size: 65px;
}

.selfie-img {
  width: 200px;
  height: 350px;
  overflow: hidden;
  border: 5px solid #f9e323;
  border-radius: 50%;
  background: white;
  margin: auto;
  padding: 15px 25px;
  border-radius: 50%;
}



.about-myself-text {
  width: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 0%;
  margin: auto;
  text-align: justify;
}

#social-media {
  align-items: center;
  padding-right: 40px;
  font-size: 45px;
}

/* Space */

.space {
  width: 100%;
  height: 20vh;
}

/*CV section*/

.my-education {
  width: 100%;
  height: 15vh;
}

#education-details {
  font-size: 17px;
}

/* Work experience hyperlinks */

.work-hyperlink {
  color: #6ecc6e;
  text-decoration: none;
}

.work-hyperlink:hover {
  text-decoration: none;
  cursor: pointer;
  color: #aae6aa;
  transition: 650ms;
}

/* Timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #f9e323;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -80px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  font-size: 15px;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  border: 5px solid #f9e323;
}

.my-skills {
  font-size: 17px;
}

.skills-score {
  font-size: 0.45rem;
}

.column {
  column-count: 3;
}

.language-title {
  font-size: 17px;
}

.language-score {
  font-size: 0.45rem;
}

/* Project section*/

.projects-heading {
  font-family: 'Parisienne', cursive;
}

/* Contact section */

.contact-heading {
  font-family: 'Parisienne', cursive;
}

form {
  width: 50%;
  margin: 0 auto;
}

form label {
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type="submit"] {
  width: initial;
  background-color: black;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: 650ms;
}

input[type="submit"]:hover {
  color: black;
  background-color: #f9e323;
}

#up {
  font-size: 40px;
  float: right;
}

#up:hover {
  cursor: pointer;
  color: #f9e323;
  transition: 650ms;
}

.copyright {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}